:root{
    --background-color: #ffffff;
    --max-width: 1280px;
    --product-color: #e6e6fa;
    --btn-background: #002dcc;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.mt-4 {margin-top: 4rem;}
.mt-5 {margin-top: 5rem;}

html{
    font-size: 62.5%;
}

.about-bio{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

}

body{
    background-color: var(--background-color);
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.btn{
    background-color: var(--btn-background);
    border-radius: 5rem;
    color: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}

.btn:active{
    transform: scale(.9);
}

.center{
    text-align: center;
}

.container{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 1.5rem;
}


form{
    margin: 1rem 0;
}

.logo img{
    margin: 1.5rem auto;
    display: block;
    width: 400px;
}

p{
    line-height: 2rem;
}  

                                                                      /* Filter */

    #filter-message-container{
        display: none;
        background-color: red;
        margin: 1rem auto;
        padding: 2rem;
        text-align: center;
        width: 1250px;
    }

    .search-filter{
        background-color: #005bd6;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        margin: 15rem auto 3rem auto;
        padding: 1.5rem;
        width: 100%;
    }
    
    .search-filter .name-filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40rem;
    }
    
    .search-filter .name-filter input{
        font-size: 1.5rem;
        padding: 0.4rem 1rem;
        width: 30rem;
    }

    .search-filter .name-filter #show-all-products{
        display: none;
        padding: 0.5rem 1rem;
    }
    .search-filter #search-btn{
        padding: 0.5rem 1rem;
    }

    .search-filter select{
        font-size: 1.5rem;
        padding: 0.2rem 1rem;
    }


    





                                                    /* Header */
                                                 
#header h1{
    margin: 2rem 0;
    text-align: center;
}         

                                            /* Navigation */

.navigation{
    border-bottom: 2px solid #E5E5E5;
    padding-bottom: 2rem;
}
                                            
.navigation > ul{
    background-color: #fff;
    color: #d8d8d8;
    font-family: sans-serif;
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center;
}  

/* Group item */
.navigation > ul > li{
    color: #717171;
    display: inline-block;
    list-style-type: none;
    padding: 0.5rem 2.5rem;
    position: relative;
}

.navigation > ul > li a,
.navigation > ul > li a:visited{
    color: #717171;
    text-decoration: none;
}

ul.sub-menu{
    background-color: #fff;
    list-style-type: none;
    margin-left: -2.5rem;
    opacity: 0;
    padding-top: 0.5rem;
    position: absolute;
    width: 13rem;
}


/* Group item hover - background color*/
.navigation > ul > li:hover{
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

/* Hover over group item - display*/
.navigation li:hover .sub-menu{
    opacity: 1;
    width: 20rem;
}

/* Sub group item */
ul.sub-menu li{
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
}

/* Sub item hover */
ul.sub-menu li:hover{
    background-color: #fff;
    color: #333;
    text-decoration: underline;

}







                                                        /* Products */
.product-listing{
    background-color: #fff;
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;
    padding: 0.2rem;
}

.product-listing .product{
    background-color: #F7F7F7;
    align-items: center;
    border-radius: 10px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:30rem;
    text-align: center;
}

.product .product-description{
    margin: 1rem 0;
}


.product-listing img{
    height: 175px;
    width: 175px;
}
                                                                        /* Returns */

#return-policy h1{
    margin: 2rem 0 1rem 0;
    text-align: center;
}                                                                        






                                                                              /*Media Queries  */


   /*Firefox  */
@-moz-document url-prefix(){

    body{
        font-size: 0.8rem;
    }

    .btn{
        margin: 0;
    }

    .fas{
       font-size: 1.2rem; 
    }

    #filter-message-container p{
        font-size: 1.2rem;
        width: 85rem;
    }

    p{
        font-size: 1rem;
        line-height: 1.2rem;
        width: 13rem;
    }

    .product-listing{
        grid-template-columns: repeat(4, 1fr);
    }


    .product-listing .product{
        height:20rem;
        padding: 8rem;
        width: 20rem;
        text-align: center;
    }

    .product-listing img{
        height: 120px;
    }

    .search-filter{
        margin: 0.5rem auto;
        padding: 1rem;
        width: 100%;
    }

    .name-filter input{
        font-size: 1rem;
        padding: 0.1rem .5rem;
        width: 17rem;
    }

    @media(max-width: 900px){
        .product-listing{
          grid-template-columns: repeat(3, 1fr);
        }
    }
}


    /* Regular */
@media(max-width: 900px){
    .product-listing{
      grid-template-columns: repeat(3, 1fr);
    }
}

/* Tablet */
@media(max-width: 750px){
    .product-listing{
        grid-template-columns: repeat(2, 1fr);
      }
}

/* Iphone */
@media(max-width: 650px){
    .product-listing{
        grid-template-columns: 1fr;
      }

      .search-filter{
          align-items: center;
        /* justify-content: space-between; */
        flex-direction: column;
    }

    .search-filter select{
        margin-top: 0.5rem;
    }

}

